<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Médico</h4>
                <h6 class="card-subtitle">Actualizar información</h6>
                <form class="form p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">
                    <div class="form-group" *ngIf="medicoSeleccionado">

                        <label for="exampleInputuname">Foto</label>
                        <div class="col-sm-12 text-center">

                            <!-- <div class="input-group"> -->
                                <img class="w150" [src]="medicoSeleccionado.img | imagen: 'medicos'" alt="" >
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input 
                                formControlName="nombre"
                                type="text" 
                                class="form-control" 
                                id="exampleInputuname" 
                                placeholder="Nombre del médico">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">HoNew tabspital</label>
                        <div class="input-group">
                            <select class="form-control" formControlName="hospital">
                                <option value="">Seleccionar Hospital</option>
                                <option *ngFor="let hospital of hospitales"
                                [value]="hospital._id">{{ hospital.nombre }}</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" [disabled]="medicoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre }}</h6>

                <div class="col-sm-12 text-center">

                    <!-- <div class="input-group"> -->
                        <img class="img-thumbnail" [src]="hospitalSeleccionado.img | imagen:'hospitales'" alt="">
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>